body,html{
  margin: 0;
  background-color: #282634;
  color: #FFFFFF;
}

h6,p{
  margin: 0;
}

a{
  text-decoration: none;
}

input:focus {
  outline: none;
}

button{
  padding: 8px 10px;
  border: 1px solid #D13900;
  border-radius: 4px;
  background-color:  #D13900;
  margin: 1px 10px;
}

button:hover{
  background-color: #C12E00;
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  min-height: 40px;
  background-color: #1E1A24;
}

.nav-logo img{
  height: 35px;
  width: 115px;
}

.nav-items{
  display: flex;
}

.nav-items ul{
  display: flex;
  margin: 0;
  margin-right: 50px;
  list-style-type: none;
  height: 100%;
  align-items: center;
}

.link{
  font-size: 20px;
  color: whitesmoke;
  padding: 10px;
  transition: color 0.3s ease;
}

.link:hover{
  cursor: pointer;
  color: #D13900;
}

.search{
  border: 1px solid #D13900;
  background-color: #2A2839;
  color: #D4D4D4;
  padding: 5px 10px;
  border-radius: 4px;
}

.dropdown{
  position: absolute;
  top: -999px;
  background-color: #282634;
  display: none;
}

.parent-drop:hover .dropdown{
  height: auto;
  top: 50px;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  align-items: center;
}

.movieCard{
  /* position: relative; */
  width: 13rem;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.movieCard:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.movieCard img{
  transition: transform 0.3s ease-in-out;
}

.movieCard:hover img{
  transform: scale(1/1.1);
}

.movieCard:hover .cardTitle{
  background-color: #D13900;
}

.cardTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background-color: #1E1A24;
  min-height: 80px;
  height: auto;
  transition: 0.3s;
}

.rate-component {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}

.rate-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F44336; /* Red color */
  border-radius: 50%;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.rate-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF; /* White color */
  font-size: 12px;
  font-weight: bold;
}

.pager{
  padding-right: 90px;
}